<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../lib/index.js"></script>
</head>
<body>
    <div id="tmpl">
        My name is <%=name%> and i am <%=age%> years old.
        I live in <%=contact.address%> and <%my phone number is <%=contact.phone%>.
        My favorite coins are:
        <ul>
        <% coins.forEach(function(item){ %>
            <li><%= item %></li>
        <% }); %>
        </ul>
    </div>
    <script>
        window.onload = ()=>{
            var data = {
                name: "ckl",
                age: 18,
                contact: {
                    address: "hk of china",
                    phone: 888
                },
                coins: ["ETH", "BTC"]
            }
            var ele = document.getElementById("tmpl")
            ele.innerHTML = te.render(ele.innerText,data)
        }
    </script>
</body>
</html>